* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background: grey;
  height: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.footer-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black !important;
  padding: 10px;
}
