/* PlaylistDetails.scss */
.playlist-details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  // background-color: #121212;

  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // margin: 20px;
  .note {
    background: linear-gradient(180deg, #def628 5.09%, #121212 43.28%);
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 100px;
    .imgsss {
      display: flex;
    }
    .mains {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  img {
    // height: 156px;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }
}
.playlist-details {
}
.tracks-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #007bff;

    &:disabled {
      color: #ccc;
    }
  }
}

.player {
  margin-top: 20px;
}
td:last-child {
  display: flex;
}
